.navbar {
  display: flex;
  justify-content: space-evenly;
  background: black;
  padding: 1em;
  font-size: 1.2em;
  text-decoration: none;
}

/* visited link */
.link {
  color: white;
  padding: 2em;
  text-decoration: none !important;
}
