.graphicsEngine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasContainer {
  margin: 3em;
}

.controls {
  width: 20em;
}

.shapes {
  border: 0.2em solid white;
  border-radius: 0.2em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
