main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  background-color: rgb(51, 51, 51);
  border-radius: 2em;
  margin-top: 1em;
}

.auth {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  justify-content: center;
}

.auth-label label {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.auth-input input {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 1.25em;
}
